{%include 'header_admin.html' %}
<html>
<div class="container">
    <h1 class="jumbotron head" align="center"> {{ title }} </h1>
    <hr>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="8%">ID</th>
                <th width="30%">Nombre</th>
                <th width="56%">Descripcion</th>
                <th width="8%">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <a href="./create/">
                            <div class="btn new-btn-list">
                                <span class="glyphicon glyphicon-plus glyphicon-new"></span>
                            </div>
                        </a>
                    </div>
                </th>
            </tr>

        </thead>
        {% for flujo in object_list %}
            <tr class="table-row" data-href="{% url 'update_options_flujo' project.pk flujo.pk %}">
                <td>{{ flujo.id }}</td>
                <td>{{ flujo.nombre }}</td>
                <td>{{ flujo.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
