{%include 'header_admin.html'%}
<div class="container">
    <h1 class="jumbotron head" align="center"> {{ title }} </h1>
    <hr>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="8%">ID</th>
                <th width="25%">Nombre</th>
                <th width="15%">Fecha Inicio</th>
                <th width="15%">Fecha Fin</th>
                <th width="9%">Estado</th>
                <th width="20%">Descripcion</th>
                <th width="8%">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <a href="/proyectos/create/">
                            <div class="btn new-btn-list">
                                <span class="glyphicon glyphicon-plus glyphicon-new"></span>
                            </div>
                        </a>
                    </div>
                </th>
            </tr>

        </thead>
        {% for project in object_list %}
            <tr class="table-row" data-href="{% url 'update_project' project.pk %}">
                <td>{{ project.id }}</td>
                <td>{{ project.nombre }}</td>
                <td>{{ project.fecha_inicio }}</td>
                <td>{{ project.fecha_fin}}</td>
                <td>{{ project.estado }}</td>
                <td colspan="2">{{ project.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function($) {
        $(".table-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>
