
{%include 'base.html'%}
<div class="container">
    <div class="head">
        <h1 align="center">{{ title }}</h1>
        <hr>
    </div>
    <div class="body">
        <form method="POST">
            {% csrf_token %}
            <table class="table table-sm scrolltable" width="100%">
                <thead class="thead-dark thead">
                    <tr>
                        <th width="8%">Asignar</th>
                        <th width="10%">ID</th>
                        <th width="25%">Nombre</th>
                        <th width="20%">Duracion Estimada</th>
                        <th width="19%">Estado</th>
                        <th width="18%">Priorizacion</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for us in object_list|dictsortreversed:"priorizacion"|dictsortreversed:"estado"  %}
                        <tr>
                            {% if us.sprint == sprint %}
                                <td width="8%"><input type="checkbox" name="user_stories" value="{{ us.pk }}" id="id_user_stories_{{ us.pk }}" checked></td>
                            {% else %}
                                <td width="8%"><input type="checkbox" name="user_stories" value="{{ us.pk }}" id="id_user_stories_{{ us.pk }}"></td>
                            {% endif %}
                            <td width="10%">{{ us.pk }}</td>
                            <td width="25%">{{ us.nombre }}</td>
                            <td width="20%" id="last-column">{{ us.duracion_estimada }}</td>
                            <td width="19%">{{ us.get_estado_display }}</td>
                            <td width="18%" id="acciones">{{ us.priorizacion }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn submit-btn">Asignar</button>
        </form>
    </div>
</div>
