{% if 'Ver Sprints' in permisos %}
{%include 'base.html'%}
<html>
<body>
<div class="container">
    <div class="head">
        <h1 align="center"> {{ title }} </h1>
        <h3 style="text-align: center">Proyecto: {{ project.nombre }}</h3>
        <hr>
    </div>
    <div class="register">
        <div class="container detalle" style="font-size: 25px">
            <li>Nombre: {% if object.nombre %} {{ object.nombre }} {% endif %}</li>
            <li>Fecha de Inicio: {% if object.fecha_inicio %}{{ object.fecha_inicio }} {% endif %}</li>
            <li>Fecha de Finalizacion: {% if object.fecha_fin %}{{ object.fecha_fin }} {% endif %}</li>
            <li>Duración estimada: {% if object.dias_laborales %} {{ object.dias_laborales }} dias hábiles{% endif %}</li>
            {% if sprint.estado == 'En proceso' %}
                <li>Duración actual (Sprint no terminado): {% if object.duracion_real %} {{ object.duracion_real }}
                        {% if object.duracion_real > 1 %}
                            días hábiles
                        {% else %}
                            día hábil
                        {% endif %}
                    {% endif %}
                </li>
            {% else %}
                <li>Duración real: {% if object.duracion_real %} {{ object.duracion_real }}
                        {% if object.duracion_real > 1 %}
                            días hábiles
                        {% else %}
                            día hábil
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
            <li>Estado: {% if object.estado %}{{ object.estado }} {% endif %}</li>
            <li>Días Habiles:</li>
            <div class="container" style="margin-left: 50px">
            {% for dia in dias_habiles %}
                <li>{{ dia }}</li>
            {% endfor %}
            </div>
        </div>
        <br>
        <hr><h4 style="text-align: center;">Team Members</h4><hr>
        <table class="table table-sm scrolltable" width="100%">
            <thead class="thead-light thead">
                <tr>
                    <th width="70%">Usuario</th>
                    <th width="30%">Horas por día</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for tm in team_members %}
                    <tr>
                        <td width="70%">{{ tm.team_member }}</td>
                        <td width="30%">{{ tm.horas_laborales }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if sprint.estado != 'Pendiente' %}
            <hr><h4 style="text-align: center;">Sprint Backlog</h4><hr>
            <table class="table table-sm scrolltable" width="100%">
                <thead class="thead-light thead">
                    <tr>
                        <th width="60%">User Story</th>
                        <th width="20%">Estado</th>
                        <th width="20%">Priorizacion</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for us in sprint_backlog %}
                        <tr>
                            <td width="60%">
                                <div class="enlace">
                                    <a href="#UserStory_{{ us.pk }}" data-toggle="modal"
                                    role="button" class="enlace">
                                    {{ us.nombre }}</a>
                                </div>
                            </td>
                            <td width="20%">us.estado</td>
                            <td width="20%">
                                {{ us.priorizacion }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if sprint.estado != 'Pendiente' %}
                <hr><h4 style="text-align: center;">Burn Down Chart</h4><hr>
                <svg id="visualisation" width="800" height="600" class="chart"></svg>
        {% endif %}<br>
        <div class="row">
            <a href="../../"><button type="button" class="btn submit-btn">Atras</button></a>
        </div>
        <hr>
    </div>
</div>
<!-- modales de user stories -->
{% for us in sprint_backlog %}
<div id="UserStory_{{ us.pk }}" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-us">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center">{{ us.nombre }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="texto">
                    <li>
                        Descripcion: {{ us.descripcion }}
                    </li>
                    <li>
                        Estimacion: {{ us.duracion_estimada }} horas
                    </li>
                    <li>
                        Horas trabajadas en el sprint: {{ us.horas_sprint }} horas
                    </li>
                    <li>
                        Total de horas trabajadas: {{ us.horas_total }} horas
                    </li>
                    <li>
                        Asignado: {{ us.team_member.username }}
                    </li>
                    <br>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container" id="formulario-nuevo-{{ us.pk }}">
                    </div>
                    <button type="button" id="cancelar-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-danger cancelar-form" style="margin-left: 200px;display: none;">Cancelar</button>
                    <button type="submit" id="guardar-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-success" style="display: none">Guardar</button>
                    <input type='hidden' name='us' value="{{ us.pk }}">
                    <input type='hidden' name='usuario' value="{{ usuario.pk }}">
                </form>
                <hr>
                <h5 class="w-100 text-center">Historial de US:
                <button type="button" id="notas-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-light notas-btn">Notas</button>
                <button type="button" id="archivos-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-dark archivos-btn">Archivos</button>
                <button type="button" id="actividades-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-dark actividades-btn">Actividades</button>
                </h5><hr>
                <div class="container" id="notas-us-{{ us.pk }}">
                    {% for key, notas in notas.items %}
                        {% if key == us.pk %}
                            {% for nota in notas %}
                                {{ nota.nota }}<br>
                                Autor: {{ nota.usuario }}, {{ nota.fecha }}
                                <div class="container" style="width: 600px;">
                                    <hr>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container" id="archivos-us-{{ us.pk }}" style="display: none">
                    {% for key, archivos in archivos.items %}
                        {% if key == us.pk %}
                            {% for archivo in archivos %}
                                {{ archivo.titulo }}: <a href="{% url 'ver_archivo' archivo.pk %}">{{ archivo.archivo }}</a><br>
                                Sprint: {{ archivo.sprint }} <br>
                                Autor: {{ archivo.usuario }}, {{ archivo.fecha }}
                                <div class="container" style="width: 600px;">
                                    <hr>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container" id="actividades-us-{{ us.pk }}" style="display: none">
                    {% for key, actividades in actividades.items %}
                        {% if key == us.pk %}
                            {% for actividad in actividades %}
                                {% if actividad.tipo == 'actividad' %}
                                    {{ actividad.nombre }}: {{ actividad.descripcion }}<br>
                                    Duracion: {{ actividad.duracion }} horas<br>
                                    Sprint: {{ actividad.sprint }} <br>
                                    Fase: {% if actividad.fase_us %}
                                                {{ actividad.fase_us.nombre }}
                                          {% elif actividad.estado_fase == 'Control de Calidad'%}
                                                Control de Calidad
                                          {% endif %}
                                    <br>
                                    Autor: {{ actividad.usuario }}, {{ actividad.fecha }}
                                    <div class="container" style="width: 600px;">
                                        <hr>
                                    </div>
                                {% elif actividad.tipo == 'cambio' %}
                                    <div style="color:darkblue">{{ actividad.descripcion }} <br>
                                    Sprint: {{ actividad.sprint }} <br>
                                    Autor: {{ actividad.usuario }}, {{ actividad.fecha }}
                                    <div class="container" style="width: 600px;">
                                        <hr>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</body>
<script type="text/javascript">
    $(document).ready(function($) {
        $('.notas-btn').click(function() {
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-us-'.concat(this.value)).style.display = "block";
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "none";
        });

        $('.archivos-btn').click(function() {
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "block";
            document.getElementById('notas-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "none";
        });

        $('.actividades-btn').click(function() {
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('notas-us-'.concat(this.value)).style.display = "none";
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "block";
        });
    });
</script>
<script>
$(function(){
    initChart();
});

function initChart() {
	var lineDataActual = {{ bdc_line|safe }};

	var svg = d3.select("#visualisation"),
		width = 800,
		height = 600,
		margins = {
			top: 80,
			right: 50,
			bottom: 80,
			left: 80
		},
		xMin = d3.min(lineDataActual, function (d) {
			return 0
		}),
		yMin = d3.min(lineDataActual, function (d) {
			if (d.y>0){
				return 0;
			}else{
				return d.y;
			}

		}),
		yMax = d3.max(lineDataActual, function (d) {
			return d.y;
		}),

    xRange = d3.scale.linear().range([margins.left, width - margins.right]).domain([

		xMin,parseInt({{ xMax }} + 1)
    ]),

	yRange = d3.scale.linear().range([height - margins.top, margins.bottom]).domain([

		yMin,yMax
	]),

	xAxis = d3.svg.axis()
		.scale(xRange)
		.tickSubdivide(true),

	yAxis = d3.svg.axis()
		.scale(yRange)
		.orient("left")
		.tickSubdivide(true);

	function make_x_axis() {
		return d3.svg.axis()
			.scale(xRange)
			 .orient("bottom")
			.tickSubdivide(true)
	}

	function make_y_axis() {
		return d3.svg.axis()
			.scale(yRange)
			.orient("left")
			.tickSubdivide(true)
	}


	svg.append("g")
        .attr("class", "grid")
        .attr("transform", "translate(0," + (height - margins.top) + ")")
        .call(make_x_axis()
            .tickSize((-height) + (margins.top + margins.bottom), 0, 0)
            .tickFormat("")
        )

    svg.append("g")
        .attr("class", "grid")
		.attr("transform", "translate(" + (margins.left) + ",0)")
        .call(make_y_axis()
            .tickSize((-width) + (margins.right + margins.left), 0, 0)
            .tickFormat("")
        )

	svg.append("svg:g")
		.attr("class", "x axis")
		.attr("transform", "translate(0," + (height - (margins.bottom)) + ")")
		.call(xAxis);

	svg.append("svg:g")
		.attr("class", "y axis")
		.attr("transform", "translate(" + (margins.left) + ",0)")
		.call(yAxis);



	var lineFunc = d3.svg.line()
		.x(function (d) {
			return xRange(d.x);
		})
		.y(function (d) {
			return yRange(d.y);
		})
  		.interpolate('basis');


	var lineDataIdeal = [{
		'x': xMin,
		'y': yMax
	}, {
		'x': parseInt({{ object.dias_laborales }}),
		'y': 0
	}];


	svg.append("svg:path")
		.attr("d", lineFunc(lineDataIdeal))
		.attr("class", "ideal");

	svg.append("svg:path")
		.attr("d", lineFunc(lineDataActual))
		.attr("class", "actual");

	svg.append("text")
		.attr("class", "x label")
		.attr("text-anchor", "end")
		.attr("x", width - 50)
		.attr("y", height - 6)
		.text("Dias de Sprint");

	svg.append("text")
		.attr("class", "y label")
		.attr("text-anchor", "end")
		.attr("y", 6)
		.attr("x", -80)
		.attr("dy", ".75em")
		.attr("transform", "rotate(-90)")
		.text("Trabajo por hacer (hs)");
}
</script>
</html>
{% else %}
Permiso denegado (Ver Sprints)
{% endif %}
