{% if 'Ver Flujos' in permisos %}
{%include 'base.html'%}
<div class="container">
    <div class="head">
        <h1 align="center"> Flujos {{ project.nombre }}</h1>
        <hr>
    </div>
    <div class="body">
        <table class="table table-sm scrolltable" width="100%">
            <thead class="thead-light thead">
                <tr>
                    <th width="10%">ID</th>
                    <th width="25%">Nombre</th>
                    <th width="54%">Descipcion</th>
                    <th width="8%">Acciones</th>
                    <th width="3%">
                        <a href="./create/"><i class="fas fa-plus-square"></i> </a>
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% for flujo in object_list %}
                    <tr>
                        <td width="10%">{{ flujo.pk }}</td>
                        <td width="25%">{{ flujo.nombre }}</td>
                        <td width="54">{{ flujo.descripcion }}</td>
                        <td id="acciones" width="8%">
                            <a href="{% url 'ver_flujo' project.pk flujo.pk %}"><i class="fas fa-eye"></i></a>
                            {% if 'Modificar Flujos' in permisos %}
                            <a href="{% url 'update_options_flujo' project.pk flujo.pk %}"><i class="fas fa-edit"></i></a>
                            {% endif %}
                        </td>
                        <td width="3%"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
Permiso Denegado
{% endif %}