{%include 'base.html' %}
<div class="container">
    <div class="head-tablero">
        <h1 align="center">Tablero -> sprint: {{ sprint_actual.nombre }} / flujo: {{ flujo.nombre }}</h1>
        <hr>
    </div>
    <div class="body">
        <div id="contenedor-tablero">
            <div class="container fases" id="selector">
                <div class="fases-dinamicas" style="display: inline;">
                    {% for fase in fases %}
                        {% if fase.pk == fases.0.pk %}
                        <button type="button" value="{{ fase.pk }}" id="btn_{{ fase.pk }}" class="btn btn-light fases-btn btn-sm">{{ fase.nombre }}</button>
                        {% else %}
                        <button type="button" value="{{ fase.pk }}" id="btn_{{ fase.pk }}" class="btn btn-dark fases-btn btn-sm">{{ fase.nombre }}</button>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if 'Ver Control de Calidad' in permisos %}
                <button type="button" class="btn btn-dark fases-btn btn-sm" id="cc-btn">Control de Calidad</button>
                {% endif %}
                <button type="button" class="btn btn-dark fases-btn btn-sm" id="finalizados-btn">Finalizados</button>
            </div>
            <div class="container tablero" id="tablero_actual">
                <div class="row">
                    <div class="panel kanban-col" id="ToDoCol">To Do
                        <div class="container us-container">
                            {% for us in user_stories %}
                                {% if us.fase == fases.0 and us.estado_fase == 'To Do' %}
                                    <div class="panel user-story">
                                        <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                            <div class="container" style="height: 7em;">
                                                {{ us.nombre }}
                                            </div>
                                        </a>
                                        {% if us.team_member.pk == user.pk %}
                                        <div class="container">
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                {% if us.fase != fases.0 %}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% endif %}
                                                <input type="hidden" name="anterior" value="{{ us.pk }}">
                                            </form>
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Siguiente
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                                <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="panel kanban-col" id="DoingCol">Doing
                         <div class="container us-container">
                             {% for us in user_stories %}
                                {% if us.fase == fases.0 and us.estado_fase == 'Doing' %}
                                    <div class="panel user-story">
                                        <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                            <div class="container" style="height: 7em;">
                                                {{ us.nombre }}
                                            </div>
                                        </a>
                                        {% if us.team_member.pk == user.pk %}
                                        <div class="container">
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                {% if us.fase != fases.0 %}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% endif %}
                                                <input type="hidden" name="anterior" value="{{ us.pk }}">
                                            </form>
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Siguiente
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                                <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                         </div>
                    </div>
                    <div class="panel kanban-col" id="DoneCol">Done
                         <div class="container us-container">
                             {% for us in user_stories %}
                                {% if us.fase == fases.0 and us.estado_fase == 'Done' %}
                                    <div class="panel user-story">
                                        <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                            <div class="container" style="height: 7em;">
                                                {{ us.nombre }}
                                            </div>
                                        </a>
                                        <div class="container">
                                            {% if us.team_member.pk == user.pk %}
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                {% if us.fase != fases.0 %}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fas fa-arrow-left"></i>
                                                    Anterior
                                                </button>
                                                {% endif %}
                                                <input type="hidden" name="anterior" value="{{ us.pk }}">
                                            </form>
                                            <form method="POST" style="display: inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-success">
                                                    Siguiente
                                                    <i class="fas fa-arrow-right"></i>
                                                </button>
                                                <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- tableros -->
{% for fase in fases %}
    <div class="container tablero" id="tablero_{{ fase.pk }}" style="display: none">
        <div class="row">
            <div class="panel kanban-col" id="ToDoCol">To Do
                <div class="container us-container">
                    {% for us in user_stories %}
                        {% if us.fase == fase and us.estado_fase == 'To Do' %}
                            <div class="panel user-story">
                                <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                    <div class="container" style="height: 7em;">
                                        {{ us.nombre }}
                                    </div>
                                </a>
                                <div class="container">
                                    {% if us.team_member.pk == user.pk %}
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        {% if us.fase != fases.0 %}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% endif %}
                                        <input type="hidden" name="anterior" value="{{ us.pk }}">
                                    </form>
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-success">
                                            Siguiente
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                        <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel kanban-col" id="DoingCol">Doing
                 <div class="container us-container">
                     {% for us in user_stories %}
                        {% if us.fase == fase and us.estado_fase == 'Doing' %}
                            <div class="panel user-story">
                                <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                    <div class="container" style="height: 7em;">
                                        {{ us.nombre }}
                                    </div>
                                </a>
                                <div class="container">
                                    {% if us.team_member.pk == user.pk %}
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        {% if us.fase != fases.0 %}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% endif %}
                                        <input type="hidden" name="anterior" value="{{ us.pk }}">
                                    </form>
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-success">
                                            Siguiente
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                        <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                 </div>
            </div>
            <div class="panel kanban-col" id="DoneCol">Done
                 <div class="container us-container">
                     {% for us in user_stories %}
                        {% if us.fase == fase and us.estado_fase == 'Done' %}
                            <div class="panel user-story">
                                <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                                    <div class="container" style="height: 7em;">
                                        {{ us.nombre }}
                                    </div>
                                </a>
                                <div class="container">
                                    {% if us.team_member.pk == user.pk %}
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        {% if us.fase != fases.0 %}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fas fa-arrow-left"></i>
                                            Anterior
                                        </button>
                                        {% endif %}
                                        <input type="hidden" name="anterior" value="{{ us.pk }}">
                                    </form>
                                    <form method="POST" style="display: inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-success">
                                            Siguiente
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                        <input type="hidden" name="siguiente" value="{{ us.pk }}">
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
{% endfor %}
<!-- fin de tableros -->

<!-- control de calidad -->
<div class="container tablero" id="control-calidad" style="display: none">
    <table class="table table-sm scrolltable-cc" width="100%">
        <thead class="thead-dark">
            <th width="30%">Nombre</th>
            <th width="50%">Descripcion</th>
            <th width="20%" style="padding-left: 2.5em">Acciones</th>
        </thead>
        <tbody>
            {% for us in user_stories %}
                {% if us.estado_fase == 'Control de Calidad' %}
                    <tr>
                    <td width="30%">
                        <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                        {{ us.nombre }}</a>
                    </td>
                    <td width="50%">{{ us.descripcion }}</td>
                    <td width="20%">
                        <button type="button" href="#Mover_{{ us.pk }}" data-toggle="modal" class="btn btn-danger">No OK</button>
                        <button type="button" href="#Finalizar_{{ us.pk }}" data-toggle="modal" class="btn btn-success">Finalizar</button>
                    </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- fin de control de calidad -->

<!-- finalizados -->
<div class="container tablero" id="finalizados" style="display: none">
    <table class="table table-sm scrolltable-cc" width="100%">
        <thead class="thead-dark">
            <th width="30%">User Story</th>
            <th width="40%">Descripcion</th>
            <th width="17%">Duracion Estimada</th>
            <th width="13%">Priorizacion</th>
        </thead>
        <tbody>
            {% for us in user_stories %}
                {% if us.estado == 0 %} <!-- Finalizado -->
                    <tr>
                        <td width="30%">
                            <a href="#UserStory_{{ us.pk }}" role="button" data-toggle="modal">
                            {{ us.nombre }}</a>
                        </td>
                        <td width="40%">{{ us.descripcion }}</td>
                        <td width="17%" style="padding-left: 13px;">{{ us.duracion_estimada}}</td>
                        <td width="13%" style="padding-left: 17px;">{{ us.priorizacion }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- fin finalizados -->

<!-- modales de los us -->
{% for us in user_stories %}
<div id="UserStory_{{ us.pk }}" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-us">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center">{{ us.nombre }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="texto">
                    <li>
                        Descripcion: {{ us.descripcion }}
                    </li>
                    <li>
                        Estimacion: {{ us.duracion_estimada }} horas
                    </li>
                    <li>
                        Horas trabajadas en el sprint: {{ us.horas_sprint }} horas
                    </li>
                    <li>
                        Total de horas trabajadas: {{ us.horas_total }} horas
                    </li>
                    <li>
                        Asignado: {{ us.team_member.username }}
                    </li>
                    <br>
                </div>
                    <div class="botones-historial">
                        {% if us.estado != 0 %}
                        <button type="button" value="{{ us.pk }}" class="btn btn-dark add-nota">Agregar Nota</button>
                        <button type="button" value="{{ us.pk }}" class="btn btn-dark add-archivo">Agregar Archivo</button>
                        {% if us.team_member.pk == user.pk %}
                        <button type="button" value="{{ us.pk }}" class="btn btn-dark add-actividad">Agregar Actividad</button>
                        {% endif %}
                        {% endif %}
                    </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container" id="formulario-nuevo-{{ us.pk }}">
                    </div>
                    <button type="button" id="cancelar-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-danger cancelar-form" style="margin-left: 200px;display: none;">Cancelar</button>
                    <button type="submit" id="guardar-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-success" style="display: none">Guardar</button>
                    <input type='hidden' name='us' value="{{ us.pk }}">
                    <input type='hidden' name='usuario' value="{{ usuario.pk }}">
                    <input type='hidden' name='fase_us' value="{{ us.fase.pk }}">
                    <input type='hidden' name='estado_fase' value="{{ us.estado_fase }}">
                </form>
                <hr>
                <h5 class="w-100 text-center">Historial de US:
                <button type="button" id="notas-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-light notas-btn">Notas</button>
                <button type="button" id="archivos-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-dark archivos-btn">Archivos</button>
                <button type="button" id="actividades-btn-{{ us.pk }}" value="{{ us.pk }}" class="btn btn-dark actividades-btn">Actividades</button>
                </h5><hr>
                <div class="container" id="notas-us-{{ us.pk }}">
                    {% for key, notas in notas.items %}
                        {% if key == us.pk %}
                            {% for nota in notas %}
                                {{ nota.nota }}<br>
                                Sprint: {{ nota.sprint }} <br>
                                Autor: {{ nota.usuario }}, {{ nota.fecha }}
                                <div class="container" style="width: 600px;">
                                    <hr>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container" id="archivos-us-{{ us.pk }}" style="display: none">
                    <!-- AGREGAR EL ARCHIVO BINARIO -->
                    {% for key, archivos in archivos.items %}
                        {% if key == us.pk %}
                            {% for archivo in archivos %}
                                {{ archivo.titulo }}: <a href="{% url 'ver_archivo' archivo.pk %}">{{ archivo.archivo }}</a><br>
                                Sprint: {{ archivo.sprint }} <br>
                                Autor: {{ archivo.usuario }}, {{ archivo.fecha }}
                                <div class="container" style="width: 600px;">
                                    <hr>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container" id="actividades-us-{{ us.pk }}" style="display: none">
                    {% for key, actividades in actividades.items %}
                        {% if key == us.pk %}
                            {% for actividad in actividades %}
                                {% if actividad.tipo == 'actividad' %}
                                    {{ actividad.nombre }}: {{ actividad.descripcion }}<br>
                                    Duracion: {{ actividad.duracion }} horas<br>
                                    Sprint: {{ actividad.sprint }} <br>
                                    Fase: {% if actividad.fase_us %}
                                                {{ actividad.fase_us.nombre }}
                                          {% elif actividad.estado_fase == 'Control de Calidad'%}
                                                Control de Calidad
                                          {% endif %}
                                    <br>
                                    Autor: {{ actividad.usuario }}, {{ actividad.fecha }}
                                    <div class="container" style="width: 600px;">
                                        <hr>
                                    </div>
                                {% elif actividad.tipo == 'cambio' %}
                                    <div style="color:darkblue">{{ actividad.descripcion }} <br>
                                    Sprint: {{ actividad.sprint }} <br>
                                    Autor: {{ actividad.usuario }}, {{ actividad.fecha }}
                                    <div class="container" style="width: 600px;">
                                        <hr>
                                    </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if us.team_member.pk == user.pk %}
                <div class="modal-footer">
                    <form method="POST">
                        {% csrf_token %}
                        {% if us.estado_fase != 'Control de Calidad' and us.estado != 0 %}
                        {% if us.fase != fases.0 %}
                        <button type="submit" class="btn btn-danger change-status">
                            <i class="fas fa-arrow-left"></i>
                            Mover a estado anterior
                        </button>
                        {% elif  us.fase == fases.0 and us.estado_fase != 'To Do'%}
                        <button type="submit" class="btn btn-danger change-status">
                            <i class="fas fa-arrow-left"></i>
                            Mover a estado anterior
                        </button>
                        {% endif %}
                        {% endif %}
                        <input type="hidden" name="anterior" value="{{ us.pk }}">
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        {% if us.estado_fase != 'Control de Calidad' and us.estado != 0 %}
                        <button type="submit" class="btn btn-success change-status">
                            Mover a estado siguiente
                            <i class="fas fa-arrow-right"></i>
                        </button>
                        {% endif %}
                        <input type="hidden" name="siguiente" value="{{ us.pk }}">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="Mover_{{ us.pk }}" class="modal fade">
    <form method="POST">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="display: inline; text-align: center">
                <h5>Actividad mover {{ us.nombre }}
                <button type="button" style="display: inline" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </h5>
            </div>
            <div class="modal-body">
                <label for="id_fase_{{ us.pk }}">Fase: </label>
                <select name="fase" id="id_fase_{{ us.pk }}">
                    {% for fase in fases %}
                        <option value="{{ fase.pk }}">{{ fase.nombre }}</option>
                    {% endfor %}
                </select><br>
                {{ actividad_form.as_p }}
                <input type="hidden" name="sprint" value="{{ sprint_actual.pk }}">
                <input type='hidden' name='us' value="{{ us.pk }}">
                <input type='hidden' name='usuario' value="{{ user.pk }}">
                <input type='hidden' name='estado_fase' value="Control de Calidad">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Mover</button>
            </div>
        </div>
    </div>
    </form>
</div>

<div id="Finalizar_{{ us.pk }}" class="modal fade">
    <form method="POST">
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="display: inline; text-align: center">
                <h5>Actividad finalizar {{ us.nombre }}
                <button type="button" style="display: inline" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </h5>
            </div>
            <div class="modal-body">
                {{ actividad_form.as_p }}
                <input type="hidden" name="sprint" value="{{ sprint_actual.pk }}">
                <input type='hidden' name='us' value="{{ us.pk }}">
                <input type='hidden' name='usuario' value="{{ user.pk }}">
                <input type='hidden' name='estado_fase' value="Control de Calidad">
                <input type="hidden" name="finalizar" value="{{ us.pk }}">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Finalizar</button>
            </div>
        </div>
    </div>
    </form>
</div>

{% endfor %}
<!-- fin modal de los us -->

<!--formulario de nota -->
<div class="container" id="formulario-nota" style="display: none">
    <hr>
    {{ nota_form.as_p }}
    <input type="hidden" name="tipo-adjunto" value="nota">
    <input type="hidden" name="sprint" value={{ sprint_actual.pk }}>
</div>
<!-- fin formulario de nota -->

<!--formulario de archivo -->
<div class="container" id="formulario-archivo" style="display: none">
    <hr>
    {{ archivo_form.as_p }}
    <input type="hidden" name="tipo-adjunto" value="archivo">
    <input type="hidden" name="sprint" value={{ sprint_actual.pk }}>
</div>
<!-- fin formulario de archivo -->

<!--formulario de actividad -->
<div class="container" id="formulario-actividad" style="display: none">
    <hr>
    {{ actividad_form.as_p }}
    <input type="hidden" name="tipo-adjunto" value="actividad">
    <input type="hidden" name="sprint" value={{ sprint_actual.pk }}>
</div>
<!-- fin formulario de actividad -->

<!-- sin actividad al pasar al done -->
<div id="SinActividad" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User story sin actividades</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Debe cargar al menos una actividad en la fase actual para dar por terminado el user story en esta fase
            </div>
        </div>
    </div>
</div>
<!--fin sin actividad al pasar al done -->

<!-- actividad invalida-->
<div id="SinActividad" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Formulario de Actividad invalido</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                No se pudo guardar la actividad, favor complete todos los campos del formulario con

            </div>
        </div>
    </div>
</div>
<!--fin actividad invalida -->

<input type="hidden" value="{{ s_fase.pk }}" id="fase_actual">
<script type="text/javascript">
    $(document).ready(function($) {
        {% if s_fase %}
            var pk_fase = document.getElementById('fase_actual').value;
            var tablero_id = '#tablero_'.concat(pk_fase);
            var tablero =  $(tablero_id).html();
            var ex_select = document.getElementsByClassName("fases-btn");
            for (var i=0; i< ex_select.length; i++){
                 ex_select[i].setAttribute('class','btn btn-dark fases-btn btn-sm');
            }
            document.getElementById('btn_'+pk_fase).className = "btn btn-light fases-btn btn-sm";
            document.getElementById('tablero_actual').innerHTML = tablero;
        {% endif %}
        {% if error %}
            {% if error == 'sinactividad' %}
                $("#SinActividad").modal("show");
            {% elif error == 'act_inv' %}
                $("#ActividadInvalida").modal("show");
            {% endif %}
        {% endif %}
        {% if modal %}
            $("#UserStory_{{ modal }}").modal("show");
        {% endif %}
        $('#finalizados-btn').click(function() {
            var finalizados =  $('#finalizados').html();
            var ex_select = document.getElementsByClassName("fases-btn");
            for (var i=0; i< ex_select.length; i++){
                 ex_select[i].setAttribute('class','btn btn-dark fases-btn btn-sm');
            }
            document.getElementById(this.id).className = "btn btn-light fases-btn btn-sm";
            document.getElementById('tablero_actual').innerHTML = finalizados;
        });

        $('#cc-btn').click(function() {
            var cc =  $('#control-calidad').html();
            var ex_select = document.getElementsByClassName("fases-btn");
            for (var i=0; i< ex_select.length; i++){
                 ex_select[i].setAttribute('class','btn btn-dark fases-btn btn-sm');
            }
            document.getElementById(this.id).className = "btn btn-light fases-btn btn-sm";
            document.getElementById('tablero_actual').innerHTML = cc;
        });

        $('.fases-dinamicas > button').click(function() {
            var tablero_id = '#tablero_'.concat(this.value);
            var tablero =  $(tablero_id).html();
            var ex_select = document.getElementsByClassName("fases-btn");
            for (var i=0; i< ex_select.length; i++){
                 ex_select[i].setAttribute('class','btn btn-dark fases-btn btn-sm');
            }
            document.getElementById(this.id).className = "btn btn-light fases-btn btn-sm";
            document.getElementById('tablero_actual').innerHTML = tablero;
        });

        $('.add-nota').click(function() {
            var nota  = $('#formulario-nota').html();
            document.getElementById('formulario-nuevo-'.concat(this.value)).innerHTML = nota;
            document.getElementById('guardar-'.concat(this.value)).style.display = "inline";
            document.getElementById('cancelar-'.concat(this.value)).style.display = "inline";
        });

        $('.add-archivo').click(function() {
            var archivo  = $('#formulario-archivo').html();
            document.getElementById('formulario-nuevo-'.concat(this.value)).innerHTML = archivo;
            document.getElementById('guardar-'.concat(this.value)).style.display = "inline";
            document.getElementById('cancelar-'.concat(this.value)).style.display = "inline";
        });

        $('.add-actividad').click(function() {
            var actividad  = $('#formulario-actividad').html();
            document.getElementById('formulario-nuevo-'.concat(this.value)).innerHTML = actividad;
            document.getElementById('guardar-'.concat(this.value)).style.display = "inline";
            document.getElementById('cancelar-'.concat(this.value)).style.display = "inline";
        });

        $('.cancelar-form').click(function() {
            document.getElementById('formulario-nuevo-'.concat(this.value)).innerHTML = '';
            document.getElementById('guardar-'.concat(this.value)).style.display = "none";
            document.getElementById('cancelar-'.concat(this.value)).style.display = "none";
        });

        $('.notas-btn').click(function() {
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-us-'.concat(this.value)).style.display = "block";
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "none";
        });

        $('.archivos-btn').click(function() {
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "block";
            document.getElementById('notas-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "none";
        });

        $('.actividades-btn').click(function() {
            document.getElementById('archivos-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('notas-btn-'.concat(this.value)).setAttribute('class','btn btn-dark');
            document.getElementById('actividades-btn-'.concat(this.value)).setAttribute('class','btn btn-light');
            document.getElementById('notas-us-'.concat(this.value)).style.display = "none";
            document.getElementById('archivos-us-'.concat(this.value)).style.display = "none";
            document.getElementById('actividades-us-'.concat(this.value)).style.display = "block";
        });
    });
</script>