{% load socialaccount %}
{% load static %}
<html>
<body>

<!--Titulo de la pagina-->

<h1><center>Gestor de proyectos </center></h1>

<!--Codigo para agregar la imagen a la pagina, pasandole el directorio donde se encuentra la foto estatica -->

<br> <center><img alt="My image"src="{% static 'is2_014_app/logo.png' %}"></center>

<!--Funcion de python para autenticar el inicio de sesion de un usuario -->

{% if user.is_authenticated %}



 <center> <p>Bienvenido, Te has logueado como {{ user.username }}</p></center>
<br> <center><a href="logout">Cerrar sesion</a></center>


 <!--<li><a href="../accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>

Si no esta logueado mostrarle la pagina de inicio con el link para loguearse con google -->

{% else %}
 <br> <center><a href="{% provider_login_url 'google' %}">Logueate con Google</a></center>
{% endif %}
</body>
</html>
